.user-profile-container {
    text-align: center;
  }
  
  .profile-links {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .profile-links a {
    text-decoration: none;
    color: green;
    font-weight: bold;
  }